<div class="card show">
  <div class="text-success">
    <h3><%= @store.name %></h3>
  </div>
  <p>Address: <%= @store.location %></p>
  <p>Website: <%= @store.website %></p>
  <p>Phone Number: <%= @store.phone_number %></p>
  <h3 class="text-success">Inventory:</h3>
  <div>
    <% if @products.count > 0 %>
      <% @products.each do |product| %>
        <div class="float-left">
          <%= button_to product.name, product, class: 'btn btn-outline-success', method: :get %>
        </div>
      <% end  %>
    <% else %>
      <p class="text-secondary">All products currently out of stock!</p>
    <% end %>
  </div>
</div>
