<div class="welcome center mt-3">
  <%= render 'welcome' %>
  <% if @user.lists_count > 0 %>
    <span class="welcome-user"><%= "Welcome back, #{@user.name}" %></span>
  <% else %>
    <span class="welcome-user"><%= "Welcome #{@user.name}" %></span>
  <% end %>
</div>

<div class="row mt-3">
  <div class="card border-success mb-3  " style="width: 18rem;">
    <div class="card-header text-success"> My Lists </div>
    <div class="card-body text-success">
      <h5 class="card-title">You have <%= @user.lists_count %> lists</h5>
      <% if @user.lists_count > 0 %>
        <p class="card-text"><%= link_to @user.list_sample(0).title, @user.list_sample(0) %></p>
      <% end %>
      <% if @user.lists_count > 1 %>
        <p class="card-text"><%= link_to @user.list_sample(1).title, @user.list_sample(1) %></p>
        <p>...</p>
        <a class="btn btn-outline-primary float-right" href="/lists">see all</a>
      <% end %>
    </div>
  </div>

  <div class="card border-success mb-3  offset-md-1" style="width: 18rem;">
    <div class="card-header text-success">My Products</div>
    <div class="card-body text-success">
      <h5 class="card-title">You have <%= @user.products.count %> products</h5>
       <%# 2.times do |i|
        if @user.product[i]

        end
      end  %>
      <% if @user.products.count > 0 %>
        <p class="card-text"><%= link_to @user.product_sample(0).name, @user.product_sample(0) %></p>
      <% end %>
      <% if @user.products.count > 1 %>
      <p class="card-text"><%= link_to @user.product_sample(1).name, @user.product_sample(1) %></p>
        <p>...</p>
        <a class="btn btn-outline-primary float-right" href="/my_products">see all</a>
      <% end %>

    </div>
  </div>

  <div class="card border-success mb-3  offset-md-1" style="width: 18rem;">
    <div class="card-header text-success">My Stores</div>
    <div class="card-body text-success">
      <h5 class="card-title">You have <%= @user.stores.count %> stores</h5>
      <% if @user.stores.count > 0 %>
        <p class="card-text"><%= link_to @user.store_sample(0).name, @user.store_sample(0) %></p>
      <% end %>
      <% if @user.stores.count > 1 %>
      <p class="card-text"><%= link_to @user.store_sample(1).name, @user.store_sample(1) %></p>
        <p>...</p>
        <a class="btn btn-outline-primary float-right" href="/my_stores">see all</a>
      <% end %>
    </div>
  </div>
</div>
