
<%= render 'welcome' %>

<span class="welcome-user"><%= "Welcome back, #{@user.name}" %></span>

<div class="row">

  <!-- Corrected lists logic to account for user having no lists   -->
  <!-- Changed stores and products to display 2 options if a user has more than 1 of either -->
  <!-- Changed logic to account for 0 and 1 items being present -->
  <div class="card border-success mb-3  " style="width: 18rem;">
    <div class="card-header text-success"> My Lists </div>
    <div class="card-body text-success">
      <h5 class="card-title">You have <%= @user.lists_count %> lists</h5>
      <% if @user.lists_count > 0 %>
        <p class="card-text"><%= link_to @user.list_sample(0).title, @user.list_sample(0) %></p>
      <% end %>
      <% if @user.lists_count > 1 %>
        <p class="card-text"><%= link_to @user.list_sample(1).title, @user.list_sample(1) %></p>
        <p>...</p>
        <a class="btn btn-info" href="/lists">see all</a>
      <% end %>
    </div>
  </div>

  <div class="card border-success mb-3  offset-md-1" style="width: 18rem;">
    <div class="card-header text-success">My Products</div>
    <div class="card-body text-success">
      <h5 class="card-title">You have <%= @user.products.count %> products</h5>
      <% 2.times do |i|
        if @user.product[i-1]
            <p class="card-text"><%= link_to @user.product_sample[i-1].name, @user.product_sample[i-1] %></p>
        <% end %>
      end %>
        <p>...</p>
        <a class="btn btn-info" href="/my_products">see all</a>
      <% end %>
    </div>
  </div>

  <div class="card border-success mb-3  offset-md-1" style="width: 18rem;">
    <div class="card-header text-success">My Stores</div>
    <div class="card-body text-success">
      <h5 class="card-title">You have <%= @user.stores.count %> stores</h5>
      <% if @user.stores.count > 0 %>
        <p class="card-text"><%= link_to @user.store_sample(0).name, @user.store_sample(0) %></p>
      <% end %>
      <% if @user.stores.count > 1 %>
        <p class="card-text"><%= link_to @user.store_sample(1).name, @user.store_sample(1) %></p>
        <p>...</p>
        <a class="btn btn-info" href="/my_stores">see all</a>
      <% end %>
    </div>
  </div>
</div>
