<div class="row">
  <div class="col">
    <h2 class="text-secondary">In Stock</h2>
      <% @in_stock.each do |product| %>
      <div class="card mt-3 stores-products">
        <div class="card-header">
          <h3><a class="text-success" href="/products/<%= product.id %>"> <%= product.name %> </a></h3>
        </div>
        <div class="card-text ml-2">
          <p>Price: $<%= product.price %></p>
          <p>Origin: <%= product.origin %></p>
        </div>
      </div>
      <% end %>
  </div>
  <div class="col">
    <h2 class="text-secondary">Out of Stock</h2>
    <% @out_of_stock.each do |product| %>
      <div class="card mt-3 stores-products">
        <div class="card-header">
          <h3><a class="text-success" href="/products/<%= product.id %>"> <%= product.name %> </a></h3>
        </div>
        <div class="card-text ml-2">
          <p>Price: $<%= product.price %></p>
          <p>Origin: <%= product.origin %></p>
          <p class="login-flash"><%= product.out_of_stock %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
