<h3><%= @product.name %></h3>
<p>Price: $<%= @product.price %></p>
<p>Origin: <%= @product.origin %></p>

<%= form_for :lists, url: '/add_product' do |f| %>
  <%= f.label 'Add this product to my list' %>
  <%= f.collection_select :list_id, user_lists, :id, :title %>
  <%= f.submit 'Add' %>
<% end %>
